.container {
  width: 1440px;
  margin: 0 auto;
  padding: 10px;
  background-color: #282828;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #3E3E3E;
  padding-bottom: 20px;
  text-align: center;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding-top: 20px;
  gap: 20px 0;
}

.dropContent {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  gap: 20px 0;
  flex-direction: column;
}
.videoTitleInput{
  border: 2px solid #222222;
  padding: 10px 20px;
  border-radius: 100px;
  background: #121212;
  width: 400px;
}
.onSelectedVideo{
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  text-align: center;
}
.uploadBtn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: cornflowerblue;
  text-transform: uppercase;
  &:disabled{
    background-color: grey;
  }
}