.container{
  display: flex;
  align-content: center;
  & svg{
    position: relative;
    top: 11px;
    left: 35px;
    z-index: 2;
  }
}

.input{
  position: relative;
  width: 540px;
  border: 2px solid #222222;
  padding: 10px 20px;
  border-radius: 100px;
  background: #121212;
  &:focus{
    width: 580px;
    padding: 10px 20px 10px 40px;
    transition: 0.3s ease-out;
    border: 1px solid deepskyblue;
  }
  &:not(:focus){
    width: 540px;
    padding: 10px 20px;
    transition: 0.3s ease-out;
    border: 2px solid #222222;
  }
}